  p {
    font-family: Verdana;
    margin-top: 0;
    margin-bottom: 0;
  }

  .course-title {
    font-weight: bold;
    font-size: 18px;
  }

  .sub-title {
    color: rgb(98, 98, 98);
  }

  .description {
    width: 280px;
    margin-top: 18px;
  }

  .button {
    color: white;
    font-family: Verdana;
    background-color: green;
    border: none;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 18px;
    cursor: pointer;
  }