  p {
    font-family: Arial;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

  }

  .title {
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
  }

  .sub-title {
    margin-top: 20px;
  }

  .learn {
    color: rgb(58, 108, 199);
    margin-top: 20px;
  }